{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="icon" href="{% static 'image/favicon.jpg' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
  </head>
  <body>
    <div class="header">
      <header class="sparks">
        THE SPARK FOUNDATION
  <span style="float:left" > <a class="viewc"href="accounts/customers">USERS</a></span>
      </header>

    </div>
    <div class="hero-image">

      <h1 class="heading">WELCOME TO ONLINE BANKING SYSTEM</h1>
      <h1 class="quotes">Transfer Money Online In Just Clicks</h1>

    </div>

  </body>

</html>
